<footer class="c-page__footer">
    <p>&copy; {{ site.author }} {{ 'now' | date: '%Y' }}</p>
    <p>Follow: 
        {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}">Github</a>{% endif %}</p>
        <p><a href="https://www.linkedin.com/in/david-elliott-perryman-07332612b/">LinkedIn</a></p>
        <p><a href="https://www.facebook.com/david.perryman.902/">Facebook</a></p>
        <p><a href="https://www.instagram.com/elliottperryman/">Instagram</a></p>
</footer>
