<div class="links-bar">
    <a href="https://github.com/elliottperryman" class="link-item"><img src="{{ '/assets/github.png' | relative_url }}" alt="Logo" class="link-logo">&nbsp;GitHub</a>
    <a href="https://scholar.google.com/citations?user=mj_eG1kAAAAJ" class="link-item"><img src="{{ '/assets/google-scholar.png' | relative_url }}" alt="Logo" class="link-logo">&nbsp;Google Scholar</a>
    <a href="https://www.linkedin.com/in/elliott-perryman/" class="link-item"><img src="{{ '/assets/linkedin.svg' | relative_url }}" alt="Logo" class="link-logo">&nbsp;LinkedIn</a>
    <a href="{{ '/assets/CV_July_2025.pdf' | relative_url }}" class="link-item"><img src="{{ '/assets/cv.png' | relative_url }}" alt="Logo" class="link-logo">&nbsp;CV</a>
</div>

